@model IEnumerable<DrBAE.WdmServer.Models.AnalysisDataModel>
@using DrBAE.WdmServer.WebApp.Controllers

@{
    ViewData["Title"] = "Index";
    ViewData["SetGridEvent"] = true;
}

<h4>Analysis Data</h4>
<br />

@(Html
    .Grid(Model)
    .Build(columns =>
    {
        columns.Add(model => model.Id).Titled(@Html.DisplayNameFor(model => model.Id)).Sortable(true);
        columns.Add(model => model.Sn).Titled(@Html.DisplayNameFor(model => model.Sn)).Sortable(true);
        columns.Add(model => model.Analysis.Description).Titled(@Html.DisplayNameFor(model => model.Analysis));
        columns.Add(model => model.Data.Length).Titled(@Html.DisplayNameFor(model => model.Data)).Filterable(GridFilterType.Double).Sortable(true);
        columns.Add(model => model.RawData.Id).Titled(@Html.DisplayNameFor(model => model.RawData));
    })
    .Empty("No data found")
    .Filterable()
    .Using(GridFilterMode.Excel)
    .Pageable(pager =>
    {
        pager.PageSizes = HardCoding.View.PagerSizes;
        pager.ShowPageSizes = true;
        pager.PagesToDisplay = 10;
        pager.RowsPerPage = 1;
    })
    .Css("table-hover")
    .RowAttributed(model => new { data_id = model.Id })
)
